

.grid-container {
  display: flex;
  align-items: center; 
  justify-content: center; 
  margin: 15px;
}
.grid,
.grid-home {
  line-height: 10px;
  column-count: 4;
  column-gap: 10px;  
}

.photo-item img {
  margin-bottom: 10px;
}