

.buttons-on-top {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  padding-top: 12px;
 
}


.header-name { 
  margin-left: 19px;
  
}

.buttons {
  display: flex;

}

.dashboard {
  margin-right: 10px;
}

.dashboards {
  margin-right: 19px
}


