.login-background {
  background: image-url("sdsunsetr.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 800px;
}

.login-form-container {
  // display: flex;
  // border: 3px solid black;
  // flex-direction: column;
  // justify-content: space-around;
  // height: 800px;
  // font-family: 'Times New Roman', Times, serif;
  // font-size: 20px;
  // text-align: left;
  // background: rgba(134, 40, 40, 0.15);
  // color: black;
  // border: 1px solid black; 
  // border-radius: 5px;
  // top: 30%;
  // left: 28%;
  padding: 8px;
  text-align: left; 
  font-family: 'Times New Roman', 'Times New Roman', Times, serif;
  font-size: 18px;
  position: absolute;
  top: 30%;
  left: 28%;
  transform: translate(-50%, -50%);
  margin: 10px 0px;
}


button, input[type="submit"] {
  // background: rgba(134, 40, 40, 0.15);
  padding: 5px;
  border: 1px solid black;
  margin: 5px;
  font-size: 18px;
}

.login-form { 
  margin: 10px;
  font-size: 18px;
}
.login-form-container > a { 
  text-decoration: underline;
}

.login-form-container > input { 
  background: rgba(134, 40, 40, 0.15);
  color: black;
  border: 1px solid black; 
  border-radius: 5px;
}
.login-form-modal {
  padding: 12px;
  align-content: center;
}

.login-text{
  align-content: center;
  font-size: 22px;
}

.login-input{
  border: 1px solid black;
  display: flex;
  align-content: center;
}

.login-text > button {
  display: block;
  border: 1px solid black;
}

// .splash-page-text {
//   color: black;
//   text-align: center;
//   font-family: 'Times New Roman', Times, serif;
//   font-size: 20px;
//   position: absolute;
//   top: 35%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   margin: 10px 0px;
// }

// .splash-page-text > button {
//   font-family: 'Times New Roman', Times, serif;
//   font-size: 20px;
//   padding: 10px;
//   background: rgba(134, 40, 40, 0.15);
//   width: 150px;
// }