.photo-upload-form {
  display: flex; 
  flex-direction: row;
  padding: 15px;
  align-content: center;
  border: 1px solid black;
} 

.drop-text { 
  padding: 15px;
}

.upload-description {
  display: flex; 
  font-size: 18px;
  display: column; 
  align-content: flex-start;
  padding-left: 15px;
}

.upload-description u {
  margin-left: 5px;
}
.upload-errors {
  font-size: 15px; 
  color: red;
  padding-left: 15px;
}

button, input[type="submit"] {
  margin-left: 133px;
}

