.photo-upload-form {

  font-family: 'Raleway', sans-serif;
  display: flex; 
  flex-direction: row;
  padding: 5px;
  align-content: center;
} 

.drop-text { 
  padding: 15px;
}

.upload-description {
  display: flex; 
  font-size: 18px;
  display: column; 
  align-content: flex-start;
  padding-left: 15px;
}

.upload-description u {
  margin-left: 5px;
}
.upload-errors {
  font-size: 12px; 
  color: red;
  padding-left: 15px;
}

button, input[type="submit"] {
  margin-left: 133px;
}

