.user-profile {
  display: flex; 
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-content: flex-end;
}

.mover {
  margin: 20px;
  position: fixed; 
  left: 3px;
  top: 64px;
}


.user-profile-container {
  margin: 82px;

 
}

.u-grid-container {
 
  margin: 20px;
  line-height: 10px; 
  column-count: 3; 
  column-gap: 10px;
}

.u-grid-container img {
  margin-bottom: 10px;
}

.user-details {
  font-family: 'Raleway', sans-serif;  
  display: flex;
  flex-direction: column;
}

.user-details img {
  width: 138px;
  height: auto;
}

.followers {
  list-style-type: none;
}
.follower-details {
  display: flex;
  margin-bottom: 17px;
}

.follower-heading {
  margin: 5px 0px 0px 15px;
}
.followers-container {
  font-family: 'Raleway', sans-serif;

  display: flex;
  flex-direction: column;
  
}
.follower-details img {
  width: 140px;

}

.text-details {
  margin-left: 50px;
  padding-top: 14px;
}



.guh {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.profile-modal-button {
  margin-left: 84px;
  color: red;
  font-size: 10px;
}


.profile-modal-buttons, button {
  background-color: #f3f3f4;
  border-radius: 2px;
  margin-top: 5px;
  padding: 5px;
}
