.user-profile {
  display: flex; 
  flex-direction: row;
  margin: 15px;
  height: 900px;
  width: 900px;
  align-content: flex-end;
  border: 1px solid black;
}

.followers-container { 
  display: flex; 
  flex-direction: column;
  border: 1px solid blue; 
  margin: 15px;
  align-content: flex-end;
}

.followers-container > u { 
  display: flex; 
  margin: 5px;
}

.user-profile-container {
  display: flex; 
  flex-direction: row;
  border: 1px solid purple; 
  margin: 15px;

}

.followers { 
  display: flex; 
  flex-direction: row;
  border: 1px solid blue; 
  margin: 15px;
}

.follower-details { 
  display: flex;
  width: 100%;
  height: 100%;

}
.user-details { 
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.text-details {
  display: flex; 
  flex-direction: column;
}

.following-details { 
  display: flex;
  width: 100%;
  height: 100%;

}

.following {
  display: flex; 
  flex-direction: column;
  border: 1px solid red; 
  margin: 15px;
}

.image { 
  display: flex;
  max-height: 100px; 
  max-width: 100px;
}

li {
  list-style: none;
}