.user-profile {
  display: flex; 
  flex-direction: row;
  margin: 15px;
  height: 1000px;
  width: 1500px;
  align-content: flex-end;
}

.followers-container { 
  display: flex; 
  flex-direction: column;
  border: 1px solid black; 
  margin: 15px;
  align-content: flex-end;
}

.followers-container > u { 
  display: flex; 
  margin: 5px;
}

.update { 
  display: flex; 
  flex-direction: column;
  border: 1px solid black;
  justify-content: space-between;
  height: 150px;
  padding: 5px;
  margin: 9px;
}

button,input[type="text"] { 
  border: 1px solid black;
}

.user-profile-container {
  display: flex; 
  flex-direction: column;
  margin: 15px;

}

.udescription {
  display: flex; 
  margin-bottom: 5px;
}
.followers { 
  display: flex; 
  flex-direction: row;
  border: 1px solid black; 
  margin: 15px;
}


.follower-details { 
  display: flex;
  width: 100%;
  height: 100%;

}
.user-details { 
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  align-items: center;
}

.image_user { 
  margin-top: 15px;
}
.text-details {
  display: flex; 
  flex-direction: column;
}

.following-details { 
  display: flex;
  width: 100%;
  height: 100%;

}

.image_user { 
  display: flex;
  max-height: 100px; 
  max-width: 100px;
}

.image { 
  display: flex;
  max-height: 100px; 
  max-width: 100px;
  border-right: 1px solid black;
  margin-right: 9px;
}

.image-s { 
  display: flex;
  max-height: 100px; 
  max-width: 100px;
  border-right: 1px solid black;
  margin-right: 9px;
}


li {
  list-style: none;
}