

.splash-page { 
  display: flex; 
  background: image-url("clouds.jpeg");
  color: grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  height: 1000px;
}

.login-signup { 
  display: flex; 
  justify-content: space-between; 
  padding: 5px;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: 27px;
}

.footer-right{
  display: flex;
  flex-direction: column;
}

.splash-login-signup-buttons {
  display: flex;
}

.logo {
  padding: 4px;
  margin-left: 6px;
}
.ls-buttons {
  padding: 3px;
  margin-right: 6px;
}

.headers {
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}

.splash-page-text  {
  text-align: left; 
  font-size: 24px;
  position: absolute;
  top: 36%;
  left: 34%;
  transform: translate(-50%, -50%);
  margin: 10px 0px;
}

.splash-page-text > h1 { 
  font-size: 30px;
}


.splash-page-text > button {
  font-size: 18px;
  padding: 10px;
  margin: 5px;
  padding: 5px 8px;
  border: 1px solid grey;
  border-radius: 0px;
}

// .login-f-input {
//   margin-left: 41px;
// }

.login-form-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px;
}

.login-form-header { 
  padding-top: 11px;
}
.login-input {
    border-radius: 2px;
    padding: 4px;
    margin-bottom: 10px;
    background-color: #a99c9c3d;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-buttonss {
}