<!DOCTYPE html>
<html>
  <head>
    <title>FPX</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet">

    <script src="https://use.fontawesome.com/94097fa447.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
